.booking-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.booking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.wait-time {
    color: darkred;
    font-weight: bold;
}
