body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .cart {
    background-color: white;
    width: 80%;
    margin: 5% auto 0;
    padding: 0 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* La cart est en colonne */
  }
  
  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 2%;
  }
  
  .cart-item {
    background-color: #f5f4ed;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    text-align: left; /* Alignement du texte à gauche pour éviter que l'espace ne soit utilisé de manière imprévisible */
  }
  
  .cart-item p {
    margin: 0; /* Suppression de la marge par défaut */
    flex-grow: 1; /* Chaque <p> peut occuper un espace égal */
    white-space: nowrap; /* Evite que le texte ne se brise sur plusieurs lignes */
    overflow: hidden; /* Cache le texte qui déborde (si nécessaire) */
    text-overflow: ellipsis; /* Affiche "..." si le texte est trop long */
  }
  
  .cart-item p:nth-child(1) {
    max-width: 15%; /* Limite la largeur de la destination pour éviter qu'elle prenne trop d'espace */
  }
  
  .cart-item p:nth-child(2) {
    max-width: 10%; /* Limite la largeur de l'heure */
    text-align: center; /* Centrer l'heure */
  }
  
  .cart-item p:nth-child(3) {
    max-width: 10%; /* Limite la largeur du prix */
    text-align: right; /* Aligner à droite pour le prix */
  }
  
  .remove-button {
    background-color: rgb(22, 85, 6);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    width: auto; /* Adapter la largeur du bouton au contenu */
    text-align: center;
    margin: 0;
  }
    
  /* Mise à jour de cart-total pour qu'il soit en ligne */
  .cart-total {
    background-color: #004080;
    color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
    display: flex !important;
    justify-content: space-between; /* Séparer le texte et le bouton */
    align-items: center; /* Centrage vertical */
    padding: 15px 20px;
    box-sizing: border-box;
  }
  
  .cart-total p {
    margin: 0 0% 0 9%;
    font-size: 18px;
  }
  
  .pay-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 9% 0 0;
    width: 10%;
  }
  